.Controls {
  position: relative;
  height: 100%;
  width: 100%;
}

.Controls > .Button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: white;
  box-shadow: inset 0.1em -0.1em 0 rgba(0,0,0,0.3);
  opacity: 0.8;
}

.Controls > .left {
  left: 1em;
}

.Controls > .top {
  top: 1em;
}

.Controls > .bottom {
  bottom: 1em;
}

.Controls > .right {
  right: 1em;
}

.Controls .switch {
  color: white;
  opacity: 0.8;
  font-size: x-large;
  position: absolute;
  pointer-events: none;
}

.Controls .switch.pitch {
  right: 1em;
  top: 40%;
}

.Controls .switch.yaw {
  bottom: 1em;
  left: 50%;
}


