.MaterialPicker .HorizontalScroll {
}
.HorizontalScroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0;
}
.HorizontalScroll > * {
  width: 90px;
  height: 90px;
  margin: 10px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.35);
  box-sizing: border-box;
}
.HorizontalScroll > *:not(:last-child) {
  margin-right: 0;
}
.MaterialPicker .text-button {
  font-size: small;
  color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px;
  font-weight: bold;
  text-align: center;
  display: flex;
  background-color: rgba(255,255,255,0.8);
  position: relative;
}

.MaterialView.selected {
  border: 2px solid white;
}

.MaterialView .solid-color, .MaterialView .texture {
  width: 100%;
  height: 100%;
}
